@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.main {
    width: 98.5vw;
    display: flex;
    flex-direction: column;
    color: #1d1d1b;
}

.nav {
    height: 20vh;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.title {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
}

.title .subwrap h1 {
    font-family: 'Allura', cursive;
    font-size: 7rem;
    font-stretch: wider;
    font-weight: 800;
}

.subwrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.date-location {
    display: flex;
    flex-direction: row;
    gap: 60vw;
    font-family: 'Abril Fatface', cursive;
    font-size: 1.1rem;
}

.double-line {
    border-top: 5px double#1d1d1b;
    margin: 0 55px;
}

@media (max-width:900px) {
    .title .subwrap h1 {
        font-size: 5rem;
    }

    .date-location {
        gap: 40vw;
    }

    .double-line{
        margin: 0 20px;
    }
}

@media (max-width:600px) {
    .title .subwrap h1 {
        font-size: 4rem;
    }

    .date-location {
        gap: 30vw;
        font-size: 0.75rem;
    }
}

@media (max-width:400px){
    .title .subwrap h1 {
        font-size: 3rem;
    }

    .date-location {
        gap: 15vw;
        font-size: 0.65rem;
    }
}