@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@1,300&display=swap');

.section-one {
    max-width: 88vw;
    display: flex;
    margin-top: 5rem;
    margin-left: 5%;
    gap: 3rem;
}

.subsection-one{
    margin: 2px 0px;
    overflow: hidden;
    border-radius: 5px;
    opacity: 90%;
    width: 46.5rem;
    height: 20rem;
    border: 2px solid #1d1d1b;
}

.section-one img{
    height: 20rem;
    z-index: -1;
    border-radius: 5px;
    transition: transform 0.2s ease-in;
}

.section-one img:hover{
    transform: scale(1.05);
    transition: transform 0.5s ease-out;
    cursor: pointer;
}

.titlesection {
    height: 5rem;
    color: #e4dfba;
    font-size: 1.85rem;
    font-family: Georgia, serif;
    font-weight: 100;
    text-align: justify;
    align-items: center;
    background-color: #1d1d1b;
    padding: 0.5vw 1vw;
    align-items: center;
    letter-spacing: 0.1;
    opacity: 0.9;
}

.titlesection h1{
    background-color: transparent;
    opacity: 1;
}

.subsection-two{
    width: 175rem;
}
.news {
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
    margin: 3% 0%;
    line-height: 1.2;
    font-family: 'Playfair', serif;
}

.news p{
    background-color: transparent;
}

.news p:first-child{
    text-align: left;
}

.news p:last-child{
    text-align: left;
}

.vertical-line{
    border: 1px solid black;
}